* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-color: #89cff0;
}

/* borders page content */
#pagecontainer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    border: 5px solid black;
    background-color: navajowhite;
}

.home{

}


/* Displays Navigation at top of Web Page and allows for links to other recipes as well as the home page. */
nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px solid black;
    background-color: navajowhite;
}

    div.logo {
        mix-blend-mode: multiply;
    }

    ul.links {
        display: flex;
        gap: 24px;
        list-style-type: none;
    }

/* This styles the recipe header using flexbox. Recipe Image, Title and Description are affected with the code below. */

.recipe.header {
    display: flex;
    margin: 60px;
    padding: 30px;
    background-color: papayawhip;
    border: 5px solid black;
    
}

    .recipe.heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .recipe h1 {
        font-size: large;
        text-align: center;
    }

    .recipe.desc {
        text-align: center;
    }

    .recipe.image {
        align-self: center;
    }

    /* Style + Flex Recipe Ingredients and Method */

    .main.container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: -60px;
        gap: 30px;  
        padding: 60px;      
    }

        .recipe.ingredients.container {
            background-color: papayawhip;
            border: 5px solid black;
            padding: 60px;
        }

        .recipe.method.container {
            background-color: papayawhip;
            border: 5px solid black;
            padding: 60px;    
        }
        
        .recipe.method.content {
             text-align: justify;
        }

        h2 {
            margin-top: -30px;
            text-decoration: underline;
            text-align: center;
        }

        h4 {
        text-decoration: underline;
        }
