* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
  }

  body {
    background-color: #d0f0c0;
}
/* borders and centers home content */

#homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: papayawhip;
    border-radius: 10px;
    border: 5px solid black;

}

    .home.header {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        background-color: #ffff66;
        color: black;
        border-radius: 10px;
        border: 5px solid black;
    }

    .home.image {
        mix-blend-mode: multiply;
        margin-top: 20px;
    }

    .home ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        margin-top: -15px;
    }

    a:hover {
        color: ADD COLOR;
    }


/* borders recipe page content */
#pagecontainer {
    width: 1050px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    background-color: navajowhite;
    border: 5px solid black;
    border-radius: 10px;
}



/* Displays Navigation at top of Web Page and allows for links to other recipes as well as the home page. */
nav.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: navajowhite;
    border: 5px solid black;
    border-radius: 10px; 
}

    div.logo {
        mix-blend-mode: multiply;
    }

    ul.links {
        display: flex;
        gap: 24px;
        list-style-type: none;
    }

/* This styles the recipe header using flexbox. Recipe Image, Title and Description are affected with the code below. */

.recipe.header {
    display: flex;
    margin: 60px;
    padding: 30px;
    background-color: papayawhip;
    border: 5px solid black;
    border-radius: 10px;
    
}

    .recipe.heading {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
    }

    .recipe h1 {
        font-size: large;
        text-align: center;
    }

    .recipe.desc {
        text-align: center;
    }

    .recipe.image {
        align-self: center;
    }

    /* Style + Flex Recipe Ingredients and Method */

    .main.container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-top: -60px;
        gap: 30px;  
        padding: 60px;      
    }

        .recipe.ingredients.container {
            padding: 60px;
            background-color: papayawhip;
            border: 5px solid black;
            border-radius: 10px;
        }

        .recipe.method.container {
            padding: 60px;    
            background-color: papayawhip;
            border: 5px solid black;
            border-radius: 10px;
        }
        
        .recipe.method.content {
             text-align: justify;
        }

        h2 {
            margin-top: -30px;
            text-decoration: underline;
            text-align: center;
        }

        h4 {
        text-decoration: underline;
        }
